@import url('https://fonts.googleapis.com/css?family=Baloo|Khula&display=swap');
html,
body
  {
    background: rgb(143,245,255) no-repeat center center fixed ;
  background: -moz-linear-gradient(0deg, rgba(143,245,255,1) 3%, rgba(252,252,252,1) 100%) no-repeat center center fixed  ;
  background: -webkit-linear-gradient(0deg, rgba(143,245,255,1) 3%, rgba(252,252,252,1) 100%) no-repeat center center fixed;
  background: linear-gradient(0deg, rgba(143,245,255,1) 3%, rgba(252,252,252,1) 100%) no-repeat center center fixed ;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ff5ff",endColorstr="#fcfcfc",GradientType=1);
}

#titletext{
  font-family: 'Baloo' , cursive;
  font-size: 500%;
  color: black;
}
#logo{
  color: black;

}
#jumbotron {
  background: url(https://fontmeme.com/permalink/191102/3d9a51cf9ce8da3b47d58c9dc4e36378.png) center no-repeat ;
}

#icon1{
  font-family: 'Baloo' , cursive;

}
#text1{
  font-family: 'Khula' , cursive;
  font-size: 200%;

}
#text2{
  font-family: 'Khula' , cursive;
  font-size: 150%;

}

#centrebtn{
  position: absolute;
  top: 70%;
  left: 45%;
  width: 200px;
  height: 65px;
}
#Radio{
  padding-left: 70px;
}
#centrebtn1{
  position: absolute;
  top: 62%;
  left: 45%;
  width: 200px;
  height: 65px;
}
#centrebtn3{
  position: absolute;
  top: 44%;
  left: 45%;
  width: 200px;
  height: 65px;
}
#centrebtn2{
  position: absolute;
  top: 80%;
  left: 45%;
  width: 200px;
  height: 65px;
}
#jumbtitle{
  font-family: 'Khula' , cursive;
  font-size: 300%
}




